@import "../../global.scss";

section {
  margin-bottom: 80px;
}

.dropdown {
  margin-bottom: 20px;
  @media screen and (min-width: 1440px) {
    width: 45%;
  }

  &-toggle {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    background-color: $color-red;
    border-radius: 5px;
    padding-left: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 1440px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: initial;
    }
  }

  &-menu {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: $color-gris;
    font-size: 12px;
    color: $color-red;
    border-radius: 0px 0px 5px 5px;

    @media screen and (min-width: 1440px) {
      margin-left: 0;
      margin-right: 0;
    }

    &_txt{
      @media screen and (min-width: 1440px) {
      font-size: 18px;
      }
    }
  }
}

.dropdown2 {
  margin-bottom: 20px;
  @media screen and (min-width: 1440px) {
    width: 100%;
    margin-bottom: 20px;
  }

  &-toggle {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    background-color: $color-red;
    border-radius: 5px;
    padding-left: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 1440px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: initial;
    }
  }

  &-menu {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: $color-gris;
    font-size: 12px;
    color: $color-red;
    border-radius: 0px 0px 5px 5px;

    @media screen and (min-width: 1440px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

h2 {
  font-size: 13px;
  font-weight: 500;
  padding-left: 10px;
}

.arrow {
  margin-right: 5px;
}


.listDropdown{

  font-size: 18px;
}