@import '../../global.scss';

.main {
    padding-left: 0;
    padding-right: 0;

    @media screen and (min-width: 1440px) {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.img {
    width: 335px;
    height: 255px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: auto;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: $color-red;

    @media screen and (min-width: 1440px) {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    &-global {
        @media screen and (min-width: 1440px) {
            width: 85%;
        }

        &_h1 {
            font-weight: 500;
            font-size: 18px;
            line-height: 25.67px;

            @media screen and (min-width: 1440px) {
                font-size: 36px;
                line-height: 51.34px;
            }
        }

        &_region {
            font-size: 14px;
            font-weight: 500;
            line-height: 19.87px;

            @media screen and (min-width: 1440px) {
                font-size: 18px;
                line-height: 25.67px;
            }
        }
    }
}

.tag {
    display: flex;
    color: #f2f2f2;
    margin-top: 10px;

    &-txt {
        min-width: 65px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        background-color: $color-red;
        display: inline-block;
        font-size: 10px;
        padding: 6px 5px;
        font-size: 10px;
        text-align: center;

    }
}

.user {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;

    @media screen and (min-width: 1440px) {
        width: 25%;
        flex-direction: column-reverse;
        align-items: end;

    }

    &-info {
        display: flex;
        align-items: center;

        @media screen and (min-width: 1440px) {
            margin-bottom: 18px;

        }

        &_name {
            font-size: 12px;

            @media screen and (min-width: 1440px) {
                font-size: 18px;

            }
        }

        &_pic {
            width: 45px;
            height: 45px;
            margin-left: 10px;
            border-radius: 20px;
        }
    }

}

.dropdownContainer {
    @media screen and (min-width: 1440px) {
        display: flex;
    }
}

.carousel-container {
    position: relative;
}

.carousel-container .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-container .left {
    left: 10px;
}

.carousel-container .right {
    right: 10px;
}

.carousel-container .arrow img {
    margin-left: 10px;
    margin-right: 10px;

    @media screen and (min-width: 1440px) {
        width: 60px;
    }

}

.carousel-img {
    width: 355px;
    height: 250px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;

    @media screen and (min-width: 1440px) {
        width: 100%;
        height: 415px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 25px;

    }
}

li {
    list-style: none;
}

.etoile {
    @media screen and (min-width: 1440px) {
        width: 30px;
    }
}