.mainApropos{
    min-height: 73vh;
    @media screen and (min-width: 1024px) {
        margin-left: 50px;
        margin-right: 50px;
      }
}
.sectionApropos{
    @media screen and (min-width: 1024px) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      }
}
.cover {
    width: 335px;
    height: 220px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {   
        width: 100%;
        height: 223px;
    }
}

.cover .cover-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

section {
    @media screen and (min-width: 1440px) {
        margin-left: 50px;
        margin-right: 50px;
    }
}
