@import '../../global.scss';

.cover-home {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 335px;
    height: 255px;
    border-radius: 10px;
    background-color: $color-red;
    margin-bottom: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.745), $color-red 30%);

    &-titre {
        margin-left: 20px;
        height: 100%;
        position: relative;

        &_text {
            position: absolute;
            bottom: 18px;
            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
            color: #fff;
        }
    }
}