@import "../../global.scss";

.cover-home {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.card {
  width: 335px;
  height: 255px;
  border-radius: 10px;
  background-color: $color-red;
  margin-bottom: 20px;
  background: linear-gradient(to top, black, transparent);

  @media screen and (min-width: 1024px) {
    width: 100%;
  }

  &-titre {
    height: 100%;
    position: relative;
    &_text {
      position: absolute;
      bottom: 18px;
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      color: #fff;
      padding: 0 10px;
    }
  }

  &-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.card-titre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  opacity: 0.5; 
}

.linkCardHome {
  @media screen and (min-width: 1024px) {
    width: 30%;
  }
}