footer {
  background-color: black;
  
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  padding: 30px;

  &-img {
    display: flex;
    justify-content: center;
  }

  &-txt {
    display: flex;
    justify-content: center;

    &_p {
      margin-top: 20px;
      color: white;
    }
  }
}